form{
    justify-content: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

div{
    margin-top: 2rem;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 19px;
}

input{
    padding: 6px 30px;
    border-radius: 15px;
    border: solid 1px;
}

button{
    max-width: 150px;
    margin: 10px auto;
    padding: 8px 16px;
    border-radius: 15px;
    border: solid #fff 2px;
    background-color: #000;
    color: #fff;
}

button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: solid #000 2px;
    transform: transition 0.5s ease-in-out;
}

.valid{
    color: #fff;
    background-color: green;
    border: solid green 2px;
}

